[tool.poetry]
name = "{{ project_slug.replace('_', '-') }}"
version = "0.0.1"
description = "{{ project_description }}"
authors = ["{{ author }} <{{ email }}>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "{{ project_slug }}", from = "src" }]

[tool.poetry.dependencies]
python = "^3.12"


[tool.poetry.group.dev.dependencies]
basedmypy = "<3"
pytest-isort = "<4"
pytest = "<9"
pytest-mock = "*"
pytest-cov = ">=4.1,<6.0"

[tool.poetry.group.docs.dependencies]
mkdocs = "<2"
mkdocs-include-markdown-plugin = "<7"
mkdocs-material = "<10"
mkdocstrings = "<1"
mkdocstrings-python = "<2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 120
